<div class="contains">
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">First Link</h5>
      <h6 class="card-subtitle mb-2 text-muted">First Link Subtitle</h6>
      <a routerLink="/first" routerLinkActive="active">First</a>
    </div>
  </div>

  <div class="card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">Second Link</h5>
      <h6 class="card-subtitle mb-2 text-muted">Second Link Subtitle</h6>
      <a class="nav-link" routerLink="/second" routerLinkActive="active"
        >Second</a
      >
    </div>
  </div>

  <div class="card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">Third Link</h5>
      <h6 class="card-subtitle mb-2 text-muted">Third Link Subtitle</h6>
      <a class="nav-link" routerLink="/third" routerLinkActive="active"
        >Third</a
      >
    </div>
  </div>
</div>
